
module my-firewalld 1.0;

require {
	type user_home_t;
	type firewalld_t;
	class file { open read };
}

#============= firewalld_t ==============

#!!!! This avc is allowed in the current policy
allow firewalld_t user_home_t:file read;
allow firewalld_t user_home_t:file open;
